* {
    margin: 0%;
}

.or {
    color: olivedrab;
}

#h12 {
    color: aliceblue;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px white solid;
    font-size: larger;
}

#ul1 {
    border-bottom: 1px white solid;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

#ul1 ul {
    margin-top: 10px;
    float: left;
}

#ul1 h1 {
    font-size: 50px;
}

#ul1 ul li {
    list-style-type: disc;
    color: aliceblue;
    font-size: large;
}

main {
    background: url("image.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

main div {
    margin-bottom: 80px;
}


footer {
    background-color: aliceblue;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 80px;
}

footer h5 {
    line-height: 80px;
}

#te {
    margin-right: auto;
    margin-left: auto;
    
}

p {
    margin-top: 10%;
    font-size: 25px;
    color: aliceblue;
}
